:root {
  --background-color: #fff;
  --border-bottom: #e8ebed;
  --border-color: #1473e6;
  --background-hover: #f5f5f5;
  --border: #e8e8e8;
  --color-txt: #000;
  --background-color-menu: #f0f0f0;
  --background-txt: linear-gradient(to right bottom, #ff8f26, #ff5117);
  --cta-hover-color-one: #6828fa;
  --background-one: linear-gradient(
    to right,
    rgb(104, 40, 250),
    rgb(255, 186, 164)
  );
  --cta-hover-color-two: #2877fa;
  --background-two: linear-gradient(
    to right,
    rgb(40, 119, 250),
    rgb(103, 23, 205)
  );
  --cta-hover-color-three: #7612ff;
  --background-three: linear-gradient(
    to right,
    rgb(118, 18, 255),
    rgb(5, 178, 255)
  );
  --cta-hover-color-four: #fe215e;
  --background-four: linear-gradient(
    to right,
    rgb(254, 33, 94),
    rgb(255, 148, 2)
  );
  --cta-hover-color-five: #007efe;
  --background-five: linear-gradient(
    to right,
    rgb(0, 126, 254),
    rgb(6, 195, 254)
  );
}

.slider-container {
  flex: 1;
  margin-top: 18px;
  width: 100%;
  /* margin: 18px auto 0 auto; */
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slider-wrapper {
  flex: 1; /* Fill available space */
  display: flex;
  position: relative;
  width: 100%;
  flex-direction: column;
}

.slider-main {
  width: calc(100% - 45px);
  margin: auto;
  position: relative;
  overflow: hidden;
  border-radius: 16px;
}

.control {
  cursor: pointer;
  top: 50%;
  transform: translateY(-50%);
}

.prev,
.next {
  background: var(--background-color);
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  color: #4b4b4b;
  font-size: 1.2rem;
  height: 32px;
  line-height: 32px;
  position: absolute;
  text-align: center;
  width: 32px;
  z-index: 1;
  transform: translateY(-80%);
}

.prev {
  left: 6px;
}

.next {
  right: 6px;
}

.slider {
  display: flex;
  transition: transform 0.5s;
  flex: 1 0 100%;
  position: relative;
  width: 100%;
  /* overflow: hidden; */
  border-radius: 16px;
}

.slide {
  width: 100%;
  height: 270px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 24px;
  flex: 1 0 100%;
}

.slide1 {
  background: var(--background-one);
}

.slide2 {
  background: var(--background-two);
}

.slide3 {
  background: var(--background-three);
}

.slide4 {
  background: var(--background-four);
}

.slide5 {
  background: var(--background-five);
}

.slide-left {
  width: 640px;
  padding: 0 36px;
  color: #fff;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  font-size: 1.6rem;
  justify-content: center;
  max-width: 100%;
}

.heading-slide {
  margin-bottom: 28px;
  font-size: 28px;
  font-weight: 700;
  color: var(--background-color);
  display: block;
}

.text-slide {
  margin-bottom: 28px;
  display: block;
}

.link-slide {
  text-transform: uppercase;
  background: transparent;
  color: var(--background-color);
  border-radius: 20px;
  padding: 4px 14px;
  font-size: 14px;
  font-weight: 700;
  border: 2px solid var(--background-color);
}

.slide1 .link-slide:hover {
  background: var(--background-color);
  color: var(--cta-hover-color-one);
}

.slide2 .link-slide:hover {
  background: var(--background-color);
  color: var(--cta-hover-color-two);
}

.slide3 .link-slide:hover {
  background: var(--background-color);
  color: var(--cta-hover-color-three);
}

.slide4 .link-slide:hover {
  background: var(--background-color);
  color: var(--cta-hover-color-four);
}

.slide5 .link-slide:hover {
  background: var(--background-color);
  color: var(--cta-hover-color-five);
}

.slide-right {
  width: 100%;
}

.slide-right img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.pagination {
  display: flex;
  gap: 14px;
  padding-top: 18px;
  padding-left: 100px;
}

.page-button {
  width: 24px;
  height: 6px;
  border-radius: 20px;
  outline: none;
  border: 0;
  background-color: #dce0e3;
  transition: all 0.6s;
}

.activeShow {
  width: 45px;
  background-color: #9aa6af;
}
