:root {
  --primary-color: #f05123;
  --background-color: #fff;
  --border-bottom: #e8ebed;
  --border-color: #1473e6;
  --background-hover: #f5f5f5;
  --border: #e8e8e8;
  --color-txt: #000;
  --background-color-menu: #f0f0f0;
}

.wrapper-content {
  margin-top: 35px;
  padding: 0 45px 75px;
  width: 100%;
  height: auto;
}

.pro-courses {
  color: var(--color-txt);
  width: 100%;
  height: auto;
}

.title-heading {
  margin-bottom: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.read-more {
  margin-right: 20px;
}

.read-all {
  color: var(--primary-color);
  font-size: 14px;
  font-weight: 600;
}

.read-all:hover {
  text-decoration: underline;
}

.read-all:hover .fa-angle-right {
  transform: translate(5px);
}

.fa-angle-right {
  transition: all 0.6s;
}

.title-heading h2 {
  font-size: 24px;
  font-weight: 800;
}

.title-heading-pro-course sup {
  color: var(--background-color);
  background-color: var(--border-color);
  padding: 2px 6px;
  font-size: 12px;
  font-weight: 600;
  border-radius: 4px;
}

.list-items {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.item-course {
  width: calc(25% - 24px);
  background-color: var(--background-color);
  margin: 0 12px 24px;
}

.course-item {
  position: relative;
}

.img-pro-course {
  position: absolute;
  width: 26px;
  height: 28px;
  top: 12px;
  left: 12px;
  border-radius: 6px;
  background-color: #0000004d;
}

.img-pro-course img {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 9;
  padding: 6px;
  display: block;
  border-radius: 6px;
  opacity: 1;
  object-fit: cover;
}

.course-item::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--color-txt);
  border-radius: 16px;
  opacity: 0.5;
  visibility: hidden;
  transition: all 0.6;
}

.view-course {
  position: absolute;
  top: 0;
  color: var(--color-txt);
  background-color: var(--background-color);
  padding: 6px 10px;
  border-radius: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 10%);
  z-index: 1;
  font-size: 13px;
  font-weight: 600;
  visibility: hidden;
  transition: all 0.4s;
  opacity: 0;
}

.course-item > img {
  width: 100%;
  object-fit: cover;
  border-radius: 16px;
}

.course-item:hover .view-course {
  visibility: visible;
  transform: translate(-50%, -50%);
  opacity: 1;
}

.course-item:hover::after {
  visibility: visible;
}

.title-course {
  display: block;
  color: var(--color-txt);
  font-size: 14px;
  font-weight: 600;
  margin: 12px 0;
  word-break: break-all;
  word-wrap: break-word;
  text-overflow: ellipsis;
}

.price-course {
  font-size: 14px;
  color: var(--primary-color);
  font-weight: 600;
}

.price-course del {
  color: var(--color-txt);
  font-weight: initial;
}

.free-courses {
  margin-top: 35px;
}

.viewer {
  color: #666;
  font-size: 13px;
}
