header {
  width: 100%;
  height: 50px;
  background-color: #29303b;
  color: #d4d6d8;
}

.content-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
  width: 100%;
}

.left-content-header {
  width: 50%;
}

.left-content-header nav {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
  gap: 30px;
}

.go-back {
  padding: 20px;
  height: 50px;
  width: ;
}

.left-content-header nav ul {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
  gap: 20px;
}
