:root {
  --primary-color: #f05123;
  --background-color: #fff;
  --border-bottom: #e8ebed;
  --border-color: #1473e6;
  --background-hover: #f5f5f5;
  --border: #e8e8e8;
  --color-txt: #000;
  --background-color-menu: #f0f0f0;
}

.body-form-login {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.1);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-login {
  background-color: var(--background-color);
  border-radius: 14px;
  width: calc(100% - 20px);
  max-width: 520px;
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 25px 60px;
  height: calc(100vh - 20px);
  overflow: auto;
  align-items: center;
  gap: 15px;
}

.modal-login button {
  align-items: center;
  background: rgba(22, 24, 35, 0.03);
  border-radius: 50%;
  color: #333;
  cursor: pointer;
  display: flex;
  height: 40px;
  justify-content: center;
  line-height: 0;
  position: absolute;
  right: 16px;
  top: 16px;
  width: 40px;
  border: 0;
}

.heading-form-login {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.heading-form-login img {
  width: 40px;
  height: 40px;
  border-radius: 6px;
}

.content-form-login {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.list-login {
  display: flex;
  gap: 10px;
  flex-direction: column;
}
