.intro-course {
  display: flex;
  flex-direction: row;
}

.content-course {
  padding: 0 30px 0 0;
  /* color: #000; */
}

.heading-course {
}

.title-heading-course {
  font-weight: 700;
  font-size: 28px;
}

.desc-course {
  font-size: 14px;
}

.main-content-course {
}

.content-course-top {
}

.list-panels-course {
}

.panel-course {
}

.desc-content-course {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
}

.desc-content-course ul {
  display: flex;
  gap: 20px;
}
