.intro-course {
  display: flex;
  flex-direction: row;
}

.content-course {
  padding: 0 30px 0 0;
}

.heading-course {
}

.title-heading-course {
  font-weight: 700;
}

.desc-course {
  font-size: 13px;
}

.main-content-course {
}

.content-course-top {
}

.list-panels-course {
}
