.featured-article {
  height: 100%;
  width: 100%;
}

.heading-fearured-article {
  width: 100%;
  padding-bottom: 40px;
}

.main-featured-article {
  width: 70%;
}

.title-featured-article h4 {
  font-size: 26px;
  font-weight: 800;
  margin-bottom: 20px;
}

.desc-featured-article span {
  font-size: 15px;
}

.main-featured-article {
  width: 100%;
}

.list-featured-article ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.posts {
  border-radius: 14px;
  padding: 24px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.heading-posts {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.left-heading-posts {
  width: 40%;
}

.right-heading-posts {
  width: 60%;
}

.avatar-user {
  width: 32px;
  height: 32px;
  object-fit: cover;
}
