.payment {
  width: 100%;
  height: 100%;
  background-color: #272a31;
  color: #dae4f0;
  display: flex;
  flex-direction: row;
}

.left-payment {
  width: 30%;
  height: 100%;
  padding: 20px 28px;
}

.heading-time-countdown h4 {
  font-size: 18px;
}

@keyframes dot-flasing {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  45% {
    transform: scale(0.1);
    opacity: 0.7;
  }
  80% {
    transform: scale(1);
    opacity: 1;
  }
}

.dot-flasing {
  display: flex;
  align-items: center;
  padding: 10px 0;
  height: 20px;
  gap: 20px;
}

.dot-flasing > div {
  background-color: #dae4f0;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  animation: dot-flasing 0.8s infinite normal both;
}

.dot-flasing > div:first-child {
  animation-delay: 0.13333333s;
}

.dot-flasing > div:nth-child(2) {
  animation-delay: 0.26666667s;
}

.dot-flasing > div:last-child {
  animation-delay: 0.4s;
}

.countdown-timer {
  text-align: center;
}

.countdown-timer #countdown {
  font-size: 22px;
  font-weight: 600;
}

.right-payment {
  width: 75%;
  height: 100%;
  padding: 8px 40px;
}
